<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rayneo.arsdk.android.demo">

    <application
        android:name="com.rayneo.arsdk.android.demo.MercuryDemoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MercuryAndroidSDK"
        tools:targetApi="31">

        <!-- indicate this is an app that supports RayNeoX2 glasses -->
        <meta-data android:name="com.rayneo.mercury.app" android:value="true" />

        <activity
            android:name="com.rayneo.arsdk.android.demo.DemoHomeActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.DialogActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.FixedFocusPosRVActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.MovedFocusPosRVActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name="com.rayneo.arsdk.android.demo.ui.activity.FragmentDemoActivity"
            android:screenOrientation="landscape" />

    </application>

</manifest>